target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.class
/out
/build

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
src/test/
logs/
.gradle
